<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>????????</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                     
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14639765?query=java%20Odessa">Java developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14588568?query=java%20Odessa">Software Engineer (Java)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14592906?query=java%20Odessa">Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14641043?query=java%20Odessa">Senior Java Developer (web server + RDA)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14525293?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt Украина</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14525278?query=java%20Odessa">Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt Украина</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14525282?query=java%20Odessa">Senior Java/Scala Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt Украина</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14525285?query=java%20Odessa">Senior Java Developer / Team Lead</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt Украина</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14766807?query=java%20Odessa">Performance Test Lead for EDGAR Online</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14495472?query=java%20Odessa">Senior Android Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Tapgerine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14407477?query=java%20Odessa">Android - разработчик / Android Developer (Черногория)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Группа компаний FOREX CLUB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14194571?query=java%20Odessa">Application architect (Montenegro)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Группа компаний FOREX CLUB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14549223?query=java%20Odessa">Senior / Middle Front-end developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО VertaMedia</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14525298?query=java%20Odessa">Senior Big data/Hadoop Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt Украина</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14328851?query=java%20Odessa">Java Middle Developer for Crawler project</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Comodo Group Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14544082?query=java%20Odessa">Java (J2EE) Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">HYS Enterprise</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14525218?query=java%20Odessa">Разработчик R&amp;D Engineer (Computer Vision)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Aspose</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14583884?query=java%20Odessa">Водитель с личным автомобилем</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП Такси 838</td> 
     <td class="salary">15&nbsp;000-25&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14545657?query=java%20Odessa">Программист</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Агентство Безопасности Гюрза</td> 
     <td class="salary">1&nbsp;000-1&nbsp;100 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14512511?query=java%20Odessa">Водитель в такси со своим автомобилем</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Алло такси</td> 
     <td class="salary">8&nbsp;000-10&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>